@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Quicksand:wght@500&display=swap');

.nav-bg {
    background-color: rgba(31, 31, 45, 1) !important;
}

.nav-title {
    color: white;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

.btn-bg {
    color: white;
    background-color: rgba(89, 116, 123, 1);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 400;
    border: none;
    border-radius: 15px;
    padding: 4px;
    padding-right: 20px;
    padding-left: 20px;
}

.field-spacing {
    display: flex !important;
    justify-content: space-between;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    width: auto;
}


.field-spacing>* {

    width: auto;


}

.card {
    --bs-card-border-width: none;
    --bs-card-border-radius: 15px;
    border: none !important;
    margin-top: 20px;
    --bs-card-bg: none;
    max-width: 290px;
    min-width: 290px;
}

.task-card {
    min-height: 20px !important;
    background-color: rgba(93, 94, 118, 1) !important;
    border-radius: 15px !important;
    max-width: auto;
    min-width: auto;

}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus {
    width: 25px;
    height: 25px;
}

.card-body {
    background-color: rgba(61, 64, 81, 1);
    min-height: 500px;
    border-radius: 0 0 15px 15px;

}

.to-do {
    background-color: rgba(89, 116, 123, 1);
    border-radius: 15px 15px 15px 15px;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.to-do-body {
    background-color: rgba(61, 64, 81, 1);
    border-radius: 0px 0px 15px 15px;
}

.taskTxt {
    color: white !important;
}

@media screen and (max-width: 991px) {
    .nav-title {
        font-size: 24px;
    }

    .btn-bg {
        font-size: 15px;
    }

    .plus {
        width: 20px;
        height: 20px;
    }

    .field-spacing {
        display: flex !important;
        flex-direction: column;
        align-content: center;

    }

    .card-header {
        font-size: 15px;
    }

    .card {
        margin-top: 20px;
        margin: 20px;
        
    }

    .task-card {
        min-height: 20px !important;
        background-color: rgba(93, 94, 118, 1) !important;
        border-radius: 15px !important;
       

    }


}